body {
       font-family: "Lato";
       background-color: #e2e2e2;
}

h1{

    font-size: 42px;
    font-weight: 200;
    color: #002b5a;
    margin-bottom: 42px;
    text-transform: capitalize;
}

h2 {

    font-size: 40px;
    font-weight: 200;
    color: #002b5a;
    margin-bottom: 42px;
    text-transform: capitalize;
}

h3 {

    font-size: 15px;
    font-weight: normal;
    color: #002b5a;
    /* margin-bottom: 42px; */
    text-transform: capitalize;

}

.header-content{

    color:#333;
    font-size: 18px;
}

.img-width{
    background-size: cover;
}

.second-div{
    background-color: #f3f3f3;

}

.third-div{
    background-color: #f3f3f3;
}
