body {
       font-family: "Lato";
       background-color: #e2e2e2;
}

h1{

    font-size: 42px;
    font-weight: 200;
    color: #002b5a;
    margin-bottom: 42px;
    text-transform: capitalize;
}

h2 {

    font-size: 40px;
    font-weight: 200;
    color: #002b5a;
    margin-bottom: 42px;
    text-transform: capitalize;
}

h3 {

    font-size: 15px;
    font-weight: normal;
    color: #002b5a;
    /* margin-bottom: 42px; */
    text-transform: capitalize;

}

.header-content{

    color:#333;
    font-size: 18px;
}

.img-width{
    background-size: cover;
    position: relative;
}

.second-div{
    background-color: #f3f3f3;

}

.third-div{
    background-color: #f3f3f3;
}

.state{

    background-color: #efefef;
        margin-top: 28.1px;
        background-color: #EFEFEF;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), 0 2px #fff inset; 

}

.state-title{
font-size: 20px;
margin-bottom: 20px;
margin-left: 20px;
margin-top: 20px;

/* text-align: center; */
}

.state-content{
    
        
    color: #002b5a;
    margin-bottom: 5px;
    margin-left: 20px;
    font-size:12px;
    /* text-align: center; */
}
button {

background-color: #ffffff;
color: #002b5a;
font-size:14px;
border-radius: 3px;
box-shadow: 0 1px 3px rgba(0,0,0,0);
}

.product-title{
    color: #002b5a;
    font-size: 17px;
}

.price{
    color: #4987ca;
    font-size: 13px;
}

.product-desc{
    font-size: 13px;
    color: #666666;
}

.product-card{
    background-color: white;
}

.social {
    position: absolute;
    display: inline-block;
    bottom: 0;
    right: 200px; 
}
.social li {
    display: inline-block; }
  .social p {
    display: inline-block;
    color: white; }  

    /* @media (max-width: 800px) and (orientation: portrait) {
        .social {
          display: none; } } */